.EightBall {
	box-shadow: 5px 5px 10px #678;
	margin: 50px;
	border-radius: 50%;
	width: 150px;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	padding: 10px;
	text-align: center;
	cursor: pointer;
  }

  button {
	  position: relative;
	  left: 300px;
	  top: 270px;
	  width: 100px;
	  height: 30px;
	  border: 1px solid black;
	  border-radius: 5px;
	  font-weight: 600;
  }